:root {
    --bg: white;
    --fg: #333;
}

html, * {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 12pt;
}

html, body {
    min-height: 100vh;
    width: 100%;
    background: var(--bg);
    color: var(--fg);
    margin: 0;
}

#app {
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: auto;
}
